.project
.factorypath
.classpath
.settings/org.springframework.ide.eclipse.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
bin/
target/
